.Footer {
        margin-top: 200px;
    }

    .Footer .F1 .Pt1 {
        margin-left: 100px;
    }

    .Footer .F1 .Pt1 h1 {
        height: 50px;
        width: 650px;
        text-align: center;
        margin-left: 210px;
        color: #0D3B66;
        font-size: 52px;
    }

    .Footer .F1 .Pt1 p {
        margin-left: 270px;
        margin-top: 80px;
        font-size: 17px;
    }

    .Footer .F1 .Pt1 .btn7 {
        cursor: pointer;
        height: 48px;
        width: 165px;
        border-radius: 35px;
        background-color: #0D3B66;
        color: #ffffff;
        transform: translateY(-80px);
        font-size: 1rem;
        font-family: Times, serif;
        position: relative;
        right: 60px;
        border: 2px solid transparent;
        transition: all 0.3s ease;
    }

    .Footer .F1 .Pt1 .btn7:hover {
        background-color: #ffffff;
        color: #0D3B66;
        border: 2px solid #0D3B66;
    }

    .Footer .F1 .Pt1 .btn7 {
        margin-top: 110px;
        margin-left: 500px;
    }

    .Footer .F2 {
        display: flex;
        justify-content: space-evenly;
        margin-left: 30px;
    }

    .Footer .F2 .Pt1 {
        height: 134px;
        width: 300px;
        margin-bottom: 20px;
    }

    .Footer .F2 .Pt1 h4 {
        color: #0D3B66;
        font-size: 20px;
        position: relative;
        top: 10px;
    }

    .Footer .F2 .Pt1 p {
        color: #656565;
        font-size: 17px;
    }

    .Footer .F2 .Pt2 .hdg h5 {
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: #0D3B66;
        margin-left: 40px;
    }

    .Footer .F2 .Pt2 .lks {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 18px;
        height: 170px;
        width: 250px;
        position: relative;
        left: 40px;
        transform: translateY(-25px);
    }

    .Footer .F2 .Pt2 .lks a,
    .Footer .F2 .Pt2 .lks a,
    .Footer .F2 .Pt2 .lks a,
    .Footer .F2 .Pt2 .lks a,
    .Footer .F2 .Pt2 .lks a{
        text-decoration: none;
        color: rgb(82, 78, 78);
    }

    .Footer .F2 .Pt3 .hdg h5 {
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: #0D3B66;
        margin-left: 40px;
    }

    .Footer .F2 .Pt3 .lks {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 18px;
        height: 170px;
        width: 250px;
        position: relative;
        left: 40px;
        transform: translateY(-25px);
    }

    .Footer .F2 .Pt3 .lks a {
        text-decoration: none;
        color: rgb(82, 78, 78);
    }

    .Footer .F2 .Pt4 .hdg h5 {
        font-size: 19px;
        font-weight: 700;
        margin-left: 40px;
        color: #0D3B66;
    }

    .Footer .F2 .Pt4 .lks {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 18px;
        height: 170px;
        width: 250px;
        position: relative;
        left: 40px;
        transform: translateY(-25px);
    }
        .Footer .F2 .Pt4 .lks a,
        .Footer .F2 .Pt4 .lks a,
        .Footer .F2 .Pt4 .lks a,
        .Footer .F2 .Pt4 .lks a,
        .Footer .F2 .Pt4 .lks a {
            text-decoration: none;
            color: rgb(82, 78, 78);
        }



    .Footer .F3 {
        margin-left: 580px;
    }

    .Footer .F3 span,
    .Footer .F3 main {
        position: relative;
        right: 60px;
    }

    .Footer .papal img {
        transform: translateX(480px);
    }